# Welcome Mr. Smotra

This is the result of DHL Live coding exercise.

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

In [2]:
from ipywidgets import interact

In [7]:
df = pd.read_csv("data.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
@interact(var = ['Pclass', 'Sex'])
def plot_surv(var):
    f = plt.figure(figsize=(10,5))
    df.groupby(var).Survived.mean().plot(kind='bar')
    
    plt.ylabel("Survival rate")
    plt.title(f"Survival rate by {var}")
    plt.show()

interactive(children=(Dropdown(description='var', options=('Pclass', 'Sex'), value='Pclass'), Output()), _dom_â€¦